* {
    text-decoration: none;
    background: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;            
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


button:hover, a:hover {
    cursor: pointer;
}

body {
    background: #1a1a1a;
}



ul {
    list-style-type: none;
}