* {
    text-decoration: none;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;            
    background: none;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


button:hover, a:hover {
    cursor: pointer;
}

body {
    background: #1a1a1a;
}


ul {
    list-style-type: none;
}

:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: rgba(43, 43, 43, 0.753);
    --main-bg: #131212;
    --selected-default-color: #e50914;
    --text-default-color: white;


    --default-border-bg: #404040;

}

.fetch-loading {
    margin: 0 auto;
    text-align: center;
    color: #bdc7bf;
    padding: 100px;
}
